@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body, html{
	margin: 0;
	width: 100%;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	height: 100%;
  background:url(img/krosy1.jpg);
	opacity: 80%;
	background-color: rgba(0, 0, 0, 0.3); 
}

.register_div{
	margin: 0 auto;
	width: 80%;

	display: flex;
	justify-content: center;

	max-width: 1000px;

	height: 100%;
}
.login_h2{
	text-align: center;
}
.login_form{
	width: 50%;
	margin: 0 auto;
}
/* .email_input{
	
}
.password_input{
	
} */

.register_div input{
	width: 100%;
	height: 40px;
	font-size: 20px;
	margin-bottom:25px;
}

/* .register_div label{

} */

.register_btn_container{
	text-align: center;
}
.register_btn{
	width: 80px;
	height: 40px;
	background-color: black;
	color: white;
	border: solid 1px white;
	border-radius: 5px;
	cursor: pointer;
}
.popUpDiv{
	background-color : white;
    border : solid 2px black;
    height : 20vh;
    width : 70vw;
    position : absolute;
    top : 0;
    left : 50%;
    transform : translateX(-50%);
    z-index : 2;
    display: none;
}
.popUpP{
	font-size: 18px;
}
.popUpBtn{
	width : 80px;
    height : 50px;
    background-color : black;
    border-radius : 5px;
    color:white;
}
.b-show{
    display : flex;
    flex-direction : column;
    text-align : center;
    justify-content : center;
    align-items : center; 
    animation: showBlock 0.5s linear forwards;
}

@keyframes showBlock {
	0% {
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}